
<!DOCTYPE html>


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | Register</title>
 
    <link rel="stylesheet" href="/assets/css/auth.css">
  
    <script
      defer
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>


   
  </head>
  <body>
      <div class="alert" id="message">
        
      </div>
   
    <div class="login-page">
      <div class="form">
        
        <form class="login-form" method="POST" id="form">
            <h1 style="color: #6C51A4;">Register</h1>
          <input type="text" placeholder="username" name="username" id="username" />
          <input type="password" placeholder="password" name="password" id="password"/>
          <button type="submit" class='login'>Submit</button>
          <p class="message">
            Aleady registered? <a class="btn btn-link" href="/auth/login">Login</a>
          </p>
        </form>
      </div>
    </div>
  </body>
  <script>
    document.getElementById("form").addEventListener("submit",async (e)=>{
        e.preventDefault();
        const username=document.getElementById("username").value
        const password=document.getElementById("password").value
        const data= await fetch("/auth/register",{method:"POST",headers:{"Content-Type":"application/json"},credentials:"include",body:JSON.stringify({"username":username,"password":password})})
        
        if(data.status===200){
            console.log(data)
            return  window.location.replace("/")
        }
        const d=await data.json()             
        const message=document.getElementById("message")
        message.innerText=d.Error
        message.style.display="flex";


</script>
</html>


