<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="run()">submit</button>
</body>
<script>
    function run(){
    let body={
        username:"daali",
        password:"vardhan"
    }
        fetch("http://localhost:8000/login",{
        method:"POST",
        headers:{

            "Content-Type":"application/json"
            },
            body:JSON.stringify(body)}
        ).then(res=>res.json()
        ).then(data=>console.log(data))
    }
</script>
</html>